<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Postulantes</title>
</head>
<body>
<h1>Postulantes para {{ oferta.puesto }}</h1>


<table border="1">
<thead>
<tr>
<th>Nombre</th>
<th>Correo</th>
<th>CV</th>
</tr>
</thead>
<tbody>
{% for p in postulantes %}
<tr>
<td>{{ p.nombre }}</td>
<td>{{ p.correo }}</td>
<td>
<a href="{{ url_for('descargar_cv', postulante_id=p._id_str) }}">Descargar CV</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>


<br>


<!-- Exportar CSV -->
<a href="{{ url_for('exportar_csv_con_datos_cifrados', oferta_id=oferta._id_str) }}">Exportar CSV</a>
</body>
</html>
